<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>您的權限不夠喔</title>
  <meta th:replace="fragments/meta_resources :: meta_resources"></meta>
</head>

<body>
  <div class="container">
    <section class="col-sm-8 col-sm-offset-2" style="margin-top: 80px;">

      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">
            <span class="text-muted">403權限不足，您是不是走錯地方啦?</span>
          </h3>
        </div>
        <div class="panel-body text-center">
          <span class="text-danger glyphicon glyphicon-minus-sign" style="font-size: 1200%"></span>
          <p>請確定您要執行的作業沒有錯，權限也完成申請。</p>
          <p>如果問題無法解決，請洽系統管理人員(02-8282-0213)，<br/>造成您的不便，深感抱歉。</p>
        </div>
      </div>
    </section>
  </div>

  <div th:replace="fragments/body_footer :: body_footer"></div>
  <div th:replace="fragments/body_resources :: body_resources"></div>
</body>
</html>
