<!DOCTYPE html>
<html itemscope="" itemtype="http://schema.org/SearchResultsPage" lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta th:replace="fragments/meta_resources :: meta_resources"></meta>
</head>
<body>
	<div th:replace="fragments/body_header :: body_header"></div>
	<div th:replace="fragments/body_navigation :: body_navigation"></div>
	<div>
		<section class="col-sm-8 col-sm-offset-2" style="margin-top: 80px;">


			<div class="panel panel-warning">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span class="text-muted">找不到您指定的頁面: <span
							class="text-warning"
							th:text="${#httpServletRequest.getAttribute('javax.servlet.error.request_uri')}"></span>
						</span>
					</h3>
				</div>
				<div class="panel-body text-center">
					<p>您該不會不小心打錯網址了吧?</p>
					<span class="text-muted glyphicon glyphicon-question-sign"
						style="font-size: 1200%"></span>
					<p>如果問題無法解決，請洽系統管理人員，</p>
					<br />造成您的不便，深感抱歉。
				</div>
			</div>
		</section>
	</div>

	<div th:replace="fragments/body_footer :: body_footer"></div>
    <div th:replace="fragments/body_resources :: body_resources"></div>
    
    <script th:src="@{/js/index.js}"></script>
	<script th:src="@{/js/login.js}"></script>
</body>
</html>
