<!DOCTYPE html>
<html itemscope="" itemtype="http://schema.org/SearchResultsPage" lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta th:replace="fragments/meta_resources :: meta_resources"></meta>
</head>

<body>
	<div th:replace="fragments/body_header :: body_header"></div>

	<div th:replace="fragments/body_navigation :: body_navigation"></div>

	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a th:href="@{/}">首頁</a></li>
				<li class="active">商品清單</li>
			</ul>	
		</div>
	</div>
	<!-- /BREADCRUMB -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- ASIDE -->
				<div id="aside" class="col-md-3">
					<!-- aside widget -->
					<div class="aside">
						<h3 class="aside-title">篩選條件:</h3>
						<!-- ul class="filter-list">
							<li><span class="text-uppercase">color:</span></li>
							<li><a href="#" style="color:#FFF; background-color:#8A2454;">Camelot</a></li>
							<li><a href="#" style="color:#FFF; background-color:#475984;">East Bay</a></li>
							<li><a href="#" style="color:#FFF; background-color:#BF6989;">Tapestry</a></li>
							<li><a href="#" style="color:#FFF; background-color:#9A54D8;">Medium Purple</a></li>
						</ul>

						<ul class="filter-list">
							<li><span class="text-uppercase">Size:</span></li>
							<li><a href="#">X</a></li>
							<li><a href="#">XL</a></li>
						</ul-->

						<ul class="filter-list" th:if="${filter_price_low != 0 and filter_price_high != 0}">
							<li><span class="text-uppercase">價格:</span></li>
							<li><a th:if="${filter_price_low != 0}" th:href="@{/products/search(removed=filter_price_low)} + ${default_url_page}" th:text="${'最低: $' + filter_price_low}"></a></li>
							<li><a th:if="${filter_price_high != 0}" th:href="@{/products/search(removed=filter_price_high)} + ${default_url_page}" th:text="${'最高: $' + filter_price_high}"></a></li>
						</ul>

						<!-- ul class="filter-list">
							<li><span class="text-uppercase">Gender:</span></li>
							<li><a href="#">Men</a></li>
						</ul-->

						<button class="primary-btn">清除所有條件</button>
					</div>
					<!-- /aside widget -->
                    
                    <!-- aside widget -->
					<div class="aside">
						<h3 class="aside-title">依據途徑篩選:</h3>
						<ul class="list-links">
							<li><input type="checkbox" id="" name="" value="1"/>防水密封塗料</li>
							<li><input type="checkbox" id="" name="" value="2"/>甲板密封塗料</li>
							<li><input type="checkbox" id="" name="" value="3"/>RV車頂密封塗料</li>
							<li><input type="checkbox" id="" name="" value="4"/>金屬安全密封塗料</li>
							<li><input type="checkbox" id="" name="" value="5"/>彩色防水密封塗料</li>
							<li><input type="checkbox" id="" name="" value="6"/>基礎密封塗料</li>
						</ul>
					</div>
					<!-- /aside widget -->
					<!-- aside widget -->
					<div class="aside">
						<h3 class="aside-title">依價格篩選</h3>
						<div id="price-slider"></div>
						最低：<input type="number" min="1" max="2000" step="1" id="price_low" name="price_low" placeholder="最低價格" size="2"/>元-
						最高：<input type="number" min="1" max="2000" step="1" id="price_high" name="price_high" placeholder="最高價格" size="6"/>元
					</div>
					<div class="aside">
					    <button class="primary-btn" onclick="product_list.filter();">套用</button>
					</div>
					<!-- aside widget -->

					<!-- aside widget -->
					<!-- div class="aside">
						<h3 class="aside-title">Filter By Color:</h3>
						<ul class="color-option">
							<li><a href="#" style="background-color:#475984;"></a></li>
							<li><a href="#" style="background-color:#8A2454;"></a></li>
							<li class="active"><a href="#" style="background-color:#BF6989;"></a></li>
							<li><a href="#" style="background-color:#9A54D8;"></a></li>
							<li><a href="#" style="background-color:#675F52;"></a></li>
							<li><a href="#" style="background-color:#050505;"></a></li>
							<li><a href="#" style="background-color:#D5B47B;"></a></li>
						</ul>
					</div-->
					<!-- /aside widget -->

					<!-- aside widget -->
					<!-- div class="aside">
						<h3 class="aside-title">Filter By Size:</h3>
						<ul class="size-option">
							<li class="active"><a href="#">S</a></li>
							<li class="active"><a href="#">XL</a></li>
							<li><a href="#">SL</a></li>
						</ul>
					</div-->
					<!-- /aside widget -->

					<!-- aside widget -->
					<!-- div class="aside">
						<h3 class="aside-title">Filter by Brand</h3>
						<ul class="list-links">
							<li><a href="#">Nike</a></li>
							<li><a href="#">Adidas</a></li>
							<li><a href="#">Polo</a></li>
							<li><a href="#">Lacost</a></li>
						</ul>
					</div-->
					<!-- /aside widget -->

					<!-- aside widget -->
					<!-- div class="aside">
						<h3 class="aside-title">Filter by Gender</h3>
						<ul class="list-links">
							<li class="active"><a href="#">Men</a></li>
							<li><a href="#">Women</a></li>
						</ul>
					</div -->
					<!-- /aside widget -->

					<!-- aside widget -->
					<div class="aside">
						<h3 class="aside-title">評價最高商品排名</h3>
						<!-- widget product -->
						<div class="product product-widget" th:each="product, itrStat: ${suggest_product}">
							<div class="product-thumb">
								<img th:src="@{${product.img}}" alt=""/>
							</div>
							<div class="product-body">
								<h2 class="product-name"><a th:href="@{'/products/' + ${product.id}}" th:text="${#strings.abbreviate(product.name, 12)}">商品名稱</a></h2>
								<h3 class="product-price" th:text="${'$' + (product.price)}">$0 </h3>
						            <del class="product-old-price" style="font-size:16px" th:text="${product.price}">$0</del>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o empty"></i>
								</div>
							</div>
						</div>
						<!-- /widget product -->
					</div>
					<!-- /aside widget -->
				</div>
				<!-- /ASIDE -->

				<!-- MAIN -->
				<div id="main" class="col-md-9">
				    <input id="page" name="page" type="hidden" th:value="${pageNumber + 1}"/>
				    <input id="pageSize" name="pageSize" type="hidden" th:value="${pageSize}"/>
					<input id="price_low" name="price_low" type="hidden" th:value="${price_low}"/>
					<input id="price_high" name="price_high" type="hidden" th:value="${price_high}"/>
					<!-- store top filter -->
					<div class="store-filter clearfix">
						<div class="pull-left">
							<div class="row-filter">
								<a href="#"><i class="fa fa-th-large"></i></a>
								<a href="#" class="active"><i class="fa fa-bars"></i></a>
							</div>
							<div class="sort-filter">
								<span class="text-uppercase">排序:</span>
								<select id="orderby" name="orderby" class="input" onChange="product_list.reload();">
										<option value="1">依時間</option>
										<option value="2">依價格</option>
										<option value="3">依評比</option>
									</select>
								<a href="#" class="main-btn icon-btn"><i class="fa fa-arrow-down"></i></a>
							</div>
						</div>
						<div class="pull-right">
							<div class="page-filter">
								<span class="text-uppercase">每頁筆數:</span>
								<select id="pageSize_1" name="pageSize_1" class="input" onChange="product_list.reload();">
										<option value="10" th:if="${pageSize != 10}">10</option>
										<option value="10" th:if="${pageSize == 10}" selected="true">10</option>
										<option value="20" th:if="${pageSize != 20}">20</option>
										<option value="20" th:if="${pageSize == 20}" selected="true">20</option>
										<option value="30" th:if="${pageSize != 30}">30</option>
										<option value="30" th:if="${pageSize == 30}" selected="true">30</option>
								</select>
							</div>
							<ul class="store-pages" th:each="i, itrStat: ${#numbers.sequence(1, totalPages)}">
								<li th:if="${i == 1}"><span class="text-uppercase">頁次:</span></li>
								<li th:if="${i == pageNumber + 1}" class="active" th:text="${i}">1</li>
								<li th:if="${i != pageNumber + 1}"><a th:href="@{/products/search(removed=)} + ${default_url_page} + '' + ${i}" th:text="${i}">1</a></li>
								<li th:if="${i == totalPages}"><a href="#"><i class="fa fa-caret-right"></i></a></li>
							</ul>
						</div>
					</div>
					<!-- /store top filter -->

					<!-- STORE -->
					<div id="store">
						<!-- row -->
						<div class="row">
							<!-- Product Single -->							
							<div class="col-md-4 col-sm-6 col-xs-6" style="min-height: 500px; padding-bottom: 10px;" th:each="product, itrStat: ${activate_product}">			
								<div class="product product-single">
									<div class="product-thumb">
										<div class="product-label">
										<span th:if="${product.newest == 1}">新上市</span>
										<span th:if="${product.promotion_on == 1 and product.promotion_discount != 100}" class="sale" th:text="${(100 - product.promotion_discount) + '%'}">0%</span>
						                <span th:if="${product.promotion_on == 0 and product.discount != 100}" class="sale" th:text="${(100 - product.discount) + '%'}">0%</span>
									</div>
									<a class="main-btn quick-view" th:href="@{'/products/' + ${product.id}}"><i class="fa fa-search-plus"></i> 瀏覽商品</a>
									<img th:src="@{${product.img}}" alt=""/>
									</div>
									<div class="product-body">
									    <h3 class="product-price" th:text="${'$' + (product.price * product.discount / 100)}">$0 </h3>
						                <del class="product-old-price" style="font-size:16px" th:text="${product.price}">$0</del>
						                <div class="product-rating">
										    <i class="fa fa-star"></i>
										    <i class="fa fa-star"></i>
										    <i class="fa fa-star"></i>
										    <i class="fa fa-star"></i>
										    <i class="fa fa-star-o empty"></i>
									    </div>
									    <h2 class="product-name"><a th:href="@{'/products/' + ${product.id}}" th:utext="${#strings.abbreviate(product.name, 22)}">Product Name Goes Here</a></h2>
									    <div class="product-btns">
										    <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
										    <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
										    <button class="primary-btn add-to-cart" th:onclick="'index.addCart(\'' + ${product.id} + '\');'"><i class="fa fa-shopping-cart"></i>加入購物車</button>
									    </div>
								    </div>
								</div>	
							</div>
							<!-- /Product Single -->

                            <div class="clearfix visible-sm visible-xs"></div>
                            		
						</div>
						<!-- /row -->
					</div>
					<!-- /STORE -->

					<!-- store bottom filter -->
					<div class="store-filter clearfix">
						<div class="pull-left">
							<div class="row-filter">
								<a href="#"><i class="fa fa-th-large"></i></a>
								<a href="#" class="active"><i class="fa fa-bars"></i></a>
							</div>
							<div class="sort-filter">
								<span class="text-uppercase">排序:</span>
								<select id="orderby" name="orderby" class="input" onChange="product_list.reload();">
										<option value="1">依時間</option>
										<option value="2">依價格</option>
										<option value="3">依評比</option>
									</select>
								<a href="#" class="main-btn icon-btn"><i class="fa fa-arrow-down"></i></a>
							</div>
						</div>
						<div class="pull-right">
							<div class="page-filter">
								<span class="text-uppercase">每頁筆數:</span>
								<select id="pageSize_2" name="pageSize_2" class="input" onChange="product_list.reload();">
										<option value="10" th:if="${pageSize != 10}">10</option>
										<option value="10" th:if="${pageSize == 10}" selected="true">10</option>
										<option value="20" th:if="${pageSize != 20}">20</option>
										<option value="20" th:if="${pageSize == 20}" selected="true">20</option>
										<option value="30" th:if="${pageSize != 30}">30</option>
										<option value="30" th:if="${pageSize == 30}" selected="true">30</option>
								</select>
							</div>
							<ul class="store-pages" th:each="i, itrStat: ${#numbers.sequence(1, totalPages)}">
								<li th:if="${i == 1}"><span class="text-uppercase">頁次:</span></li>
								<li th:if="${i == pageNumber + 1}" class="active" th:text="${i}">1</li>
								<li th:if="${i != pageNumber + 1}"><a th:href="@{/products/search(removed=)} + ${default_url_page} + '' + ${i}" th:text="${i}">1</a></li>
								<li th:if="${i == totalPages}"><a href="#"><i class="fa fa-caret-right"></i></a></li>
							</ul>
						</div>
					</div>
					<!-- /store bottom filter -->
				</div>
				<!-- /MAIN -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->
    <div th:replace="fragments/modal :: addCart"></div>
    <div th:replace="fragments/modal :: removeCart"></div>
	<div th:replace="fragments/body_footer :: body_footer"></div>
    <div th:replace="fragments/body_resources :: body_resources"></div>
    
    <script th:src="@{/js/index.js}"></script>
    <script th:src="@{/js/product_list.js}"></script>
</body>

</html>
