<!DOCTYPE html>
<html itemscope="" itemtype="http://schema.org/SearchResultsPage" lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta th:replace="fragments/meta_resources :: meta_resources"></meta>
</head>
<body>
	<div th:replace="fragments/body_header :: body_header"></div>

    <!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a th:href="@{/}">首頁</a></li>
				<li class="active">我的訂單</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->
	
	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
		<div th:replace="fragments/body_header :: body_info"></div>
		<form id="payment-form" class="clearfix" th:action="@{/payment}" method="post">
		    <input type="hidden" id="orderNo" name="orderNo" value=""/>
		    <!-- row -->
			<div class="row">
				<!-- section title -->
				<div class="col-md-12">
					<div class="section-title">
						<h2 class="title">我的訂單</h2>
					</div>
				</div>
				<!-- section title -->
				<table class="shopping-cart-table table" th:each="order, itrStat : ${orders}">
                <legend>
                    <strong th:text="${'訂單編號：' + order.orderNo}"></strong>　　　　　
                    <strong class="pull-center" th:text="${'處理狀態：' + order.orderStatus}"></strong>
                    <strong class="pull-right" th:if="${#strings.contains(order.orderStatus,'訂單成立，待付款') or #strings.contains(order.orderStatus,'待付款')}">
  
                                                            下一步：<button class="primary-btn" th:onclick="'order.goPayment(\'' + ${order.orderNo} + '\');return false;'">付款去</button>

                    </strong>
                </legend>
               
                <thead>
                    <tr>
					    <th>訂單商品</th>
						<th></th>
						<th class="text-center">單價</th>
						<th class="text-center">數量</th>
						<th class="text-center">應付總額</th>
					</tr>
                </thead>
                <tbody>
				    <tr th:each="productTempOrder, itrStat : ${order.productsTempOrder}">
					    <td class="thumb"><img th:src="@{${productTempOrder.img}}" alt=""/></td>
					    <td class="details">
						    <a th:href="@{'/products/' + ${productTempOrder.productId}}" th:text="${productTempOrder.productName}">商品名稱</a>
						    <ul>
							    <li><span>顏色: Camelot</span></li>
						    </ul>
					    </td>
					    <td class="price text-center">
					        <strong th:text="${'$' +productTempOrder.price}">$0</strong>
					        <br/>
					        <del class="font-weak"><small th:text="${'$' + productTempOrder.originalPrice}">$0</small></del>
					    </td>
					    <td class="qty text-center"><strong th:text="${productTempOrder.quantity}">$0</strong></td>
					    <td class="total text-center">
					        <strong class="primary-color" th:text="${'$' +productTempOrder.subTotalAmt}">$0</strong>
					    </td>
					<!-- td class="text-right"><button class="main-btn icon-btn"><i class="fa fa-close"></i></button></td-->
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<th class="empty" colspan="3"></th>
						<th>商品總金額</th>
						<th colspan="2" class="sub-total" th:text="${'$' + order.subTotalAmt}">$0</th>
					</tr>
					<tr>
						<th class="empty" colspan="3"></th>
						<th>運費總金額</th>
						<td colspan="2" th:if="${order.shipment == 0}">Free Shipping</td>
						<td colspan="2" th:if="${order.shipment != 0}" th:text="${'$' + order.shipment}"></td>
					</tr>
					<tr>
						<th class="empty" colspan="3"></th>
						<th>總付款金額</th>
						<th colspan="2" class="total" th:text="${'$' + order.totalAmt}">$0</th>
					</tr>
					<tr>
						<th class="empty" colspan="3"></th>
						<th>付款方式</th>
						<th colspan="2" th:text="${order.paymentMethodStr}">??</th>
						
					</tr>
				</tfoot>
            </table>
                
			</div>
			<!-- /row -->
			</form>
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

	<div th:replace="fragments/body_footer :: body_footer"></div>
    <div th:replace="fragments/body_resources :: body_resources"></div>
   
    <script th:src="@{/js/index.js}"></script>
    <script th:src="@{/js/order.js}"></script>
</body>

</html>
