<!DOCTYPE html>
<html itemscope="" itemtype="http://schema.org/SearchResultsPage" lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">


<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta th:replace="fragments/meta_resources :: meta_resources"></meta>
</head>

<body>
	<div th:replace="fragments/body_header :: body_header"></div>

	

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
		    <div th:replace="fragments/body_header :: body_info"></div>
		    <form th:action="@{/member/createUser}" method="post">
			<!-- row -->
			<div class="row">
			    <div class="col-md-6 col-xs-8 col-md-offset-3 col-xs-offset-2" >
						<div class="billing-details">
							<div class="section-title">
								<h3 class="title">我的帳戶</h3>
							</div>
							<div class="form-group">
								<input class="input" type="text" name="username" value="simon" placeholder="帳號"/>
							</div>
							<div class="form-group">
								<input class="input" type="password" name="password" value="123456" placeholder="密碼"/>
							</div>
							<div class="form-group">
								<input class="input" type="password" name="repassword" value="123456" placeholder="確認密碼"/>
							</div>
							<div class="form-group">
								<input class="input" type="text" name="cName"  placeholder="姓名" th:required="required" th:value="A"/>
							</div>
							<div class="form-group">
								<input class="input" type="email" name="email" placeholder="Email" th:required="required" value="cyliu0315@gmail.com"/>
							</div>
							<div class="form-group">
								<input class="input" type="text" name="city" placeholder="縣市" th:required="required" th:value="D"/>
							</div>
							<div class="form-group">
								<input class="input" type="text" name="district" placeholder="區" th:required="required" th:value="E"/>
							</div>
							<div class="form-group">
								<input class="input" type="text" name="address" placeholder="地址" th:required="required" th:value="F"/>
							</div>
							<div class="form-group">
								<input class="input" type="tel" name="tel" placeholder="連絡電話" th:required="required" th:value="G"/>
							</div>
							<div class="form-group">
							    <input type="text" class="form-control" id="verifyCode" placeholder="驗證碼" name="verifyCode" style="width: 30%; display: inline;" th:required="required"/>
                                <img id="captchaImg" />
                                <button id="refreshCaptchaButton" type="button" form="form" class="btn btn-default ">
                                    <i class="fa fa-refresh"></i>
                                </button>
							</div>
	
							<div class="form-group text-left">
							    <button class="primary-btn" type="reset">清除</button>
							    <button class="primary-btn" type="submit" value="Sign In" >修改</button>
							</div>
						</div>
					</div>
			
			
			
			</div>
			<!-- /row -->
			</form>
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

	<div th:replace="fragments/body_footer :: body_footer"></div>
    <div th:replace="fragments/body_resources :: body_resources"></div>
    
    <script th:src="@{/js/index.js}"></script>
	<script th:src="@{/js/login.js}"></script>
</body>

</html>