<!DOCTYPE html>
<html itemscope="" itemtype="http://schema.org/SearchResultsPage" lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">


<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta th:replace="fragments/meta_resources :: meta_resources"></meta>
</head>

<body>
	<div th:replace="fragments/body_header :: body_header"></div>

	

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
		    <div th:replace="fragments/body_header :: body_info"></div>
		    <form id="userForm" th:action="@{/member/modifyUser}" method="post">
			<!-- row -->
			<div class="row">
			    <div class="col-md-6 col-xs-8 col-md-offset-3 col-xs-offset-2" >
						<div class="billing-details">
							<div class="section-title">
								<h3 class="title">我的帳戶</h3>
							</div>
							<div class="form-group">
								<input class="input" type="text" name="username" th:value="${user.username}" placeholder="帳號" th:readonly="${1==1}"/>
							</div>
							<div class="form-group">
								<input class="input" type="password" name="password" value="" placeholder="密碼"/>
							</div>
							<div class="form-group">
								<input class="input" type="password" name="repassword" value="" placeholder="確認密碼"/>
							</div>
							<div class="form-group">
								<input class="input" type="text" name="cName"  placeholder="姓名" th:required="required" th:value="${user.cName}"/>
							</div>
							<div class="form-group">
								<input class="input" type="email" name="email" placeholder="Email" th:required="required" th:value="${user.email}"/>
							</div>
							<div class="zip-selector">
							    <div class="col-lg-3 col-md-4 col-sm-4 nopadding">
                                <div class="form-group">
                                    <select class="county form-control"></select> 
                                </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-4">
                                <div class="form-group">
                                    <select class="district form-control"></select>
                                </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-4">
                                <div class="form-group">
                                    <input id="zipcode" type="text" class="zipcode input" placeholder="郵遞區號"/>
                                </div>
                                </div>
                            </div>
							<div class="form-group">
								<input id="address" class="input" type="text" name="address" placeholder="地址" th:required="required" th:value="${user.address}"/>
							</div>
							<div class="form-group">
								<div class="input-group date">
                                    <input class="input" type="text" name="birthday" placeholder="生日" th:required="required" th:value="${user.birthday}"/><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                </div>
							</div>
							<div class="form-group">
								<input class="input" type="tel" name="mobile" placeholder="連絡電話" th:required="required" th:value="${user.mobile}"/>
							</div>
							<div class="form-group">
							    <input type="text" class="form-control" id="verifyCode" placeholder="驗證碼" name="verifyCode" style="width: 30%; display: inline;" th:required="required"/>
                                <img id="captchaImg" />
                                <button id="refreshCaptchaButton" type="button" form="form" class="btn btn-default ">
                                    <i class="fa fa-refresh"></i>
                                </button>
							</div>
	
							<div class="form-group text-left">
							    <button class="primary-btn" type="reset">清除</button>
							    <button id="modifyBtn" class="primary-btn" type="button" value="Sign In">修改</button>
							</div>
						</div>
					</div>
			
			
			
			</div>
			<!-- /row -->
			</form>
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

	<div th:replace="fragments/body_footer :: body_footer"></div>
    <div th:replace="fragments/body_resources :: body_resources"></div>
    <script th:src="@{/js/tw-city-selector.js}"></script>
    <script th:src="@{/js/index.js}"></script>
	<script th:src="@{/js/user.js}"></script>
	<script>
  new TwCitySelector({
    el: ".zip-selector",
    elCounty: ".county", // 在 el 裡查找 dom
    elDistrict: ".district", // 在 el 裡查找 dom
    elZipcode: ".zipcode" // 在 el 裡查找 dom
  });
  $(".county").attr("class", "county form-control");
  $(".district").attr("class", "district form-control");
</script>
</body>

</html>