<!DOCTYPE html>
<html itemscope="" itemtype="http://schema.org/SearchResultsPage" lang="zh-Hant-TW" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

  <!-- script th:src="@{/js/tinyMCE-4.9.1/jquery.tinymce.min.js}"></script -->
 <!-- link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" / -->
</head>

<body>
<form th:action="@{'/manager/product/update/description/' + ${product.id}}" method="post">

<textarea id="editor1" name="description" th:utext="${product.description == null ? '' : product.description}"></textarea>
<input class="btn btn-primary" type="submit" value="修改描述"/>
<br/>
<br/>
編輯網頁注意事項:
<lu>
<li th:text="${'圖檔編輯範例:'+noticeString}"></li>
</lu>
</form>
    <script th:src="@{/js/tinyMCE-4.9.1/tinymce.min.js}"></script>
    
	<!-- script th:src="@{/js/jquery.min.js}"></script-->
	
 <!-- th:utext="${product.description == null ? '' : product.description}"-->
	<script>
		tinyMCE.init({
			selector: "textarea", // 目標物件
			auto_focus: "editor1", // 聚焦物件
			height: 500,
			language: "zh_TW",
			theme: "modern", // 模板風格
			plugins : "advlist autolink link image lists charmap print preview, code", // 套件設定: 進階清單、自動連結、連結、上傳圖片、清單、特殊字元表、列印、預覽
			mobile: { // 行動裝置設定
			  	theme: "mobile", // 模板風格
				plugins: [ "autosave", "lists", "autolink" ],  // 套件設定: 自動儲存、清單、自動連結
				toolbar: [ "undo", "bold", "italic", "styleselect" ]  // 工具列設定: 復原、粗體、斜體、樣式表
			} 
		});
	
		
  </script>
</body>

</html>
