<!DOCTYPE html>
<html itemscope="" itemtype="http://schema.org/SearchResultsPage" lang="zh-Hant-TW" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<meta th:replace="fragments/meta_resources :: meta_resources"></meta>

</head>

<body>
	<div th:replace="fragments/body_header :: body_header"></div>

	<div th:replace="fragments/body_navigation :: body_navigation"></div>

	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a th:href="@{/}">首頁</a></li>
				<li><a th:href="@{/products}">商品</a></li>
				<li><a href="#">種類名稱</a></li>
				<li class="active">商品名稱</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!--  Product Details -->
				<div class="product product-details clearfix">
					<div class="col-md-6">
						<div id="product-main-view">
							<div class="product-view">
								<img th:src="@{${product.img}}" alt=""/>
							</div>
						   
    
						</div>
 <!-- File Upload From -->
<div class="row">
						   
    <form th:action="@{/manager/product/fileUpload}" method="post" id="fileinfo" enctype="multipart/form-data">
      <div class="form-group">
        <label>請選擇檔案上傳</label> 
        <input class="form-control" type="file" name="file"/>
      </div>
      <div class="form-group">
        <button id="fileinfo" class="btn btn-primary" type="button">上傳</button>
      </div>
    </form>
    <br />

    <!-- Bootstrap Progress bar -->
    <div class="progress">
      <div id="progressBar" class="progress-bar progress-bar-success" role="progressbar"
        aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">0%</div>
    </div>

    <!-- Alert -->
    <div id="alertMsg" style="color: red;font-size: 18px;"></div>
</div>
					</div>
					<form th:action="@{/manager/product/update}" method="post">
					<input id="id" name="id" type="hidden" th:value="${product.id}"/>
					<div class="col-md-6">
						<div class="product-body">
							<div class="product-label">
							<strong>分類:</strong>
							    <select id="categoryId" name="categoryId">
                         <option value=""> -- </option>
                         <option th:each="category : ${Categorys}"
                            th:value="${category.id}"
                            th:utext="${category.name}" th:selected="${category.id eq product.categoryId}"/>
                  </select>
								<span th:if="${product.newest == 1}">新上市</span>
						        <span th:if="${product.promotion_on == 1 and product.promotion_discount != 100}" class="sale" th:text="${(100 - product.promotion_discount) + '%'}">0%</span>
						        <span th:if="${product.promotion_on == 0 and product.discount != 100}" class="sale" th:text="${(100 - product.discount) + '%'}">0%</span>
							</div>
							<h2 class="product-name"><input id="name" name="name" placeholder="商品名稱" th:value="${product.name}"/></h2>
							<h2 class="product-name"><input id="engName" name="engName" placeholder="英文商品名稱" th:value="${product.engName}"/></h2>
							<h3 th:if="${product.promotion_on == 1}" class="product-price" th:text="${'$' + product.promotion_price}">$0 </h3>
						    <h3 th:if="${product.promotion_on == 0}" class="product-price"><input id="price" name="price" placeholder="商品售價" th:value="${product.price}"/> </h3>					    
						    <del class="product-old-price" style="font-size:16px;" >
						    <input id="originalPrice" name="originalPrice" placeholder="商品原價" th:value="${product.originalPrice}"/> </del>
							<div>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
								<a href="#">3 Review(s) / Add Review</a>
							</div>
							<p th:if="${product.activate == 1}"><strong>貨品狀態:</strong> 有現貨</p>
							<p th:unless="${product.activate == 1}"><strong>貨品狀態:</strong><font color="red" size="3"> 缺貨中</font></p>
							<p><strong>品牌:</strong> 加拿大液態橡膠 </p>
							<p><input id="shortDescription" name="shortDescription" placeholder="商品簡述" th:value="${product.shortDescription}"/></p>
							<div class="product-options">
							<input type="hidden" id="productId" name="productId" th:value="${product.id}"/>
							<input type="text" id="color" name="color" placeholder="色號"/>
							<input type="text" id="colorName" name="colorName" placeholder="中文名稱"/>
							<input type="text" id="eName" name="eName" placeholder="英文名稱"/>
							<input type="text" id="linnerColor" name="linnerColor" placeholder="商品代號"/>
							<input type="text" id="seq" name="seq" placeholder="順序" />
	                        <button id="addColor" class="btn btn-primary" type="button">新增商品顏色</button>
								<ul class="color-option" th:if="${not #lists.isEmpty(product.productColors)}" >
								    <input type="hidden" id="isColor" name="isColor" value="1"/>
								    <input type="hidden" id="color" name="color" value=""/>
									<li><span class="text-uppercase">顏色:</span></li>
									<th:block th:each="productColor, itrStat: ${product.productColors}">
									<br/>
									    <li th:id="${'color_' + productColor.eName}">
									        <a href="#" th:style="${'background-color:' + productColor.id.color + '; border-width: 1px;border-style:solid;'}" th:onclick="'product.changeColor(\'' +  ${productColor.eName} + '\', \''+${productColor.id.color}+'\');'" th:title="${productColor.name}"></a>
									        
									    </li>
									    <li><button id="deleteColor" class="btn btn-danger" type="button" th:onclick="'product_editor.deleteColor(\''+  ${productColor.id.productId} + '\', \''+${productColor.id.color}+'\');'">刪除商品顏色</button></li>
									</th:block>
									
								</ul>
							
							</div>

							
						</div>
						<div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input id="submit" class="btn btn-primary" type="submit" value="修改"/>&nbsp;&nbsp;
                        <input class="btn" type="button" value="返回" onclick="window.location.href='/manager/product'"/>
                    </div>
                </div>
					</div>
					</form>
					<div class="col-md-12">
						<div class="product-tab">
							<ul class="tab-nav">
								<li class="active"><a data-toggle="tab" href="#tab1">商品描述</a></li>
								<!-- li><a data-toggle="tab" href="#tab2">商品評論 (3)</a></li-->
							</ul>
							<div class="tab-content">
								<div id="tab1" class="tab-pane fade in active">
								<a class="btn btn-primary" th:href="@{/manager/product/edit_desc/{id}(id=${product.id})}" target="_blank">修改描述</a>
                                <div class="row">
									<div>
									<p th:utext="${product.description}">測試商品描述.</p>
									</div>
								</div>
<!-- File Upload From -->
<div class="row">
						   
    <form th:action="@{/manager/product/fileUploadDesc}" method="post" id="fileinfoDesc" enctype="multipart/form-data">
      <div class="form-group">
        <label>請選擇檔案上傳</label> 
        <input class="form-control" type="file" name="file"/>
      </div>
      <div class="form-group">
        <button id="fileinfoDesc" class="btn btn-primary" type="button">上傳</button>
      </div>
    </form>
    <br />

    <!-- Bootstrap Progress bar -->
    <div class="progress">
      <div id="progressBarDesc" class="progress-bar progress-bar-success" role="progressbarDesc"
        aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">0%</div>
    </div>

    <!-- Alert -->
    <div id="alertMsgDesc" style="color: red;font-size: 18px;"></div>
    
    <table class="table table-hover table-condensed">
                <legend>
                    <strong>可用圖片列表</strong>
                </legend>
                <thead>
                    <tr>
                        <th style="width:80%;max-width:80%">圖片連結</th>
                        <th style="width:20%;max-width:20%">圖片預覽</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="descriptionImg : ${DescriptionImgs}">
                        <td class="product.product-widget product-thumb">
                        <div class="product product-widget">                           
                            <div class="product-body">
                                <h2 class="product-name" th:text="${descriptionImg.imagePath}">
                                </h2>
                            </div>
                        </div>
                        </td>
                        <td class="product.product-widget product-thumb">
                        <div class="product product-widget">
                            <div class="product-thumb">
                                <img th:src="${descriptionImg.imagePath}"></img>
                            </div>
                            <div class="product-body">
                                <h2 class="product-name" th:text="${descriptionImg.filePath}">                               
                                </h2>
                                
                            </div>
                        </div>
                        </td>
                    </tr>
                </tbody>
            </table>
    
</div>
                                </div>
							</div>
						</div>
					</div>

				</div>
				<!-- /Product Details -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->
 <div th:replace="fragments/body_footer :: body_footer"></div>
    <div th:replace="fragments/body_resources :: body_resources"></div>
	
	<script th:src="@{/js/index.js}"></script>
	<script th:src="@{/js/product.js}"></script>
	<script th:src="@{/js/manager/product-editor.js}"></script>
	
  <script type="text/JavaScript">
    
    $(function() {
      $("#addColor").click(function() {
    	  var formData = {
    			  "productId": $("#productId").val(), "color":$("#color").val(),
    			  "name":$("#colorName").val(), "e_name":$("#eName").val(),
                  "linnerColor":$("#linnerColor").val(), "status":1,
                  "seq":$("#seq").val()
    			};
    			$.ajax({
    				type : "POST",
    				url : contextRoot + "/manager/product/addColor",
    				dataType : "json",
    				headers : headers,
    				//contentType : 'text/plain;charset=utf-8',
    				contentType: "application/json; charset=utf-8",
    				data : JSON.stringify(formData),
    				async : false,
    				success : function(data) {
    					alert("新增:" + data.name + "成功.");
    					location.reload();
    				},
    				error : function(e) {
    					var obj = jQuery.parseJSON(e.responseText);
    					console.log(obj.region);
    				}
    			});
      });
      $('button[id=fileinfo]').click(function(e) {
    	    e.preventDefault();
    	    //Disable submit button
    	    $(this).prop('disabled',true);
    	    
    	    var form = $('#fileinfo')[0];
    	    var formData = new FormData(form);

    	    // Ajax call for file uploaling
    	    var ajaxReq = $.ajax({
    	      url : contextRoot +'/manager/product/update_fileUpload',
    	      type : 'POST',
    	      data : formData,
    	      cache : false,
    	      contentType : false,
    	      processData : false,
    	      xhr: function(){
    	        //Get XmlHttpRequest object
    	         var xhr = $.ajaxSettings.xhr() ;
    	        
    	        //Set onprogress event handler 
    	         xhr.upload.onprogress = function(event){
    	          	var perc = Math.round((event.loaded / event.total) * 100);
    	          	$('#progressBar').text(perc + '%');
    	          	$('#progressBar').css('width',perc + '%');
    	         };
    	         return xhr ;
    	    	},
    	    	beforeSend: function( xhr ) {
    	    		//Reset alert message and progress bar
    	    		$('#alertMsg').text('');
    	    		$('#progressBar').text('');
    	    		$('#progressBar').css('width','0%');
    	              }
    	    });
    	  
    	    // Called on success of file upload
    	    ajaxReq.done(function(msg) {
    	      $('#alertMsg').text(msg);
    	      $('input[type=file]').val('');
    	      $('button[type=submit]').prop('disabled',false);
    	    });
    	    
    	    // Called on failure of file upload
    	    ajaxReq.fail(function(jqXHR) {
    	      $('#alertMsg').text(jqXHR.responseText+'('+jqXHR.status+
    	      		' - '+jqXHR.statusText+')');
    	      $('button[type=submit]').prop('disabled',false);
    	    });
    	  });
   
      $('button[id=fileinfoDesc]').click(function(e) {
    	  alert('');
    	  return ;
  	    e.preventDefault();
  	    //Disable submit button
  	    $(this).prop('disabled',true);
  	    
  	    var form = $('#fileinfo')[0];
  	    var formData = new FormData(form);

  	    // Ajax call for file uploaling
  	    var ajaxReq = $.ajax({
  	      url : contextRoot +'/manager/product/update_fileUpload',
  	      type : 'POST',
  	      data : formData,
  	      cache : false,
  	      contentType : false,
  	      processData : false,
  	      xhr: function(){
  	        //Get XmlHttpRequest object
  	         var xhr = $.ajaxSettings.xhr() ;
  	        
  	        //Set onprogress event handler 
  	         xhr.upload.onprogress = function(event){
  	          	var perc = Math.round((event.loaded / event.total) * 100);
  	          	$('#progressBar').text(perc + '%');
  	          	$('#progressBar').css('width',perc + '%');
  	         };
  	         return xhr ;
  	    	},
  	    	beforeSend: function( xhr ) {
  	    		//Reset alert message and progress bar
  	    		$('#alertMsg').text('');
  	    		$('#progressBar').text('');
  	    		$('#progressBar').css('width','0%');
  	              }
  	    });
  	  
  	    // Called on success of file upload
  	    ajaxReq.done(function(msg) {
  	      $('#alertMsg').text(msg);
  	      $('input[type=file]').val('');
  	      $('button[type=submit]').prop('disabled',false);
  	    });
  	    
  	    // Called on failure of file upload
  	    ajaxReq.fail(function(jqXHR) {
  	      $('#alertMsg').text(jqXHR.responseText+'('+jqXHR.status+
  	      		' - '+jqXHR.statusText+')');
  	      $('button[type=submit]').prop('disabled',false);
  	    });
  	  });
    });

  </script>
</body>

</html>
