<!DOCTYPE html>
<html itemscope="" itemtype="http://schema.org/SearchResultsPage" lang="zh-Hant-TW" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.7.6/tinymce.min.js"></script>

</head>

<body>

	
<textarea id="editor1"></textarea>
<input class="btn btn-primary" type="button" value="新增描述" onclick="insertDesc();"/>
	<script>
		tinyMCE.init({
			selector: "textarea", // 目標物件
			auto_focus: "editor1", // 聚焦物件
			height: 500,
			language: "zh_TW",
			theme: "modern", // 模板風格
			plugins : "advlist autolink link image lists charmap print preview, code", // 套件設定: 進階清單、自動連結、連結、上傳圖片、清單、特殊字元表、列印、預覽
			mobile: { // 行動裝置設定
			  	theme: "mobile", // 模板風格
				plugins: [ "autosave", "lists", "autolink" ],  // 套件設定: 自動儲存、清單、自動連結
				toolbar: [ "undo", "bold", "italic", "styleselect" ]  // 工具列設定: 復原、粗體、斜體、樣式表
			} 
		});
	
  </script>
</body>

</html>
