<!DOCTYPE html>
<html itemscope="" itemtype="http://schema.org/SearchResultsPage" lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta th:replace="fragments/meta_resources :: meta_resources"></meta>
</head>
<body>
	<div th:replace="fragments/body_header :: body_header"></div>

    <!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a th:href="@{/manager}">管理系統</a></li>
				<li class="active">使用者管理</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->

        <!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
		    <div th:replace="fragments/body_header :: body_info"></div>
			<!-- row -->
			<div class="row">

            <h3>--使用者管理--</h3>

            <table class="table table-hover table-condensed">
                <legend>
                    <strong>使用者列表</strong>
                </legend>
                <thead>
                    <tr>
                        <th style="width:20%;max-width:20%">使用者名稱</th>
                        <th style="width:20%;max-width:20%">中文名字</th>
                        <th style="width:20%;max-width:20%">生日</th>
                        <th style="width:10%;max-width:10%">狀態</th>
                        <th style="width:30%;max-width:30%">管理</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${userList}">
                        <th scope="row" th:text="${user.username}"></th>
                        <td><a th:href="@{/manager/users/update/{userId}(userId=${user.username})}" th:text="${user.cName}"></a></td>
                        <td th:text="${user.birthday}"></td>
                        <td th:text="${user.status == 1 ? '啟用' : '停用'}"></td>
                        <td>
                        <a class="btn btn-info" th:href="@{/manager/users/update/{userId}(userId=${user.username})}">修改</a>
                        <a class="btn btn-danger" th:href="@{/manager/users/delete/{userId}(userId=${user.username})}">删除</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div><a class="btn btn-primary" th:href="@{/manager/users/create}" role="button">新增帳號</a></div>
        </div>
        </div>
        </div>
        

    <div th:replace="fragments/body_footer :: body_footer"></div>
    <div th:replace="fragments/body_resources :: body_resources"></div>
   
    <script th:src="@{/js/index.js}"></script>
 </body>

</html>