<!DOCTYPE html>
<html itemscope="" itemtype="http://schema.org/SearchResultsPage"
	lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<div th:fragment="body_footer" th:remove="tag">
		<!-- FOOTER -->
		<footer id="footer" class="section section-grey">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- footer widget -->
					<div class="col-md-3 col-sm-6 col-xs-6">
						<div class="footer">
							<!-- footer logo -->
							<div class="footer-logo">
								<a class="logo" href="#"> <img th:src="@{/img/logo.png}"
									alt="" />
								</a>
							</div>
							<!-- /footer logo -->

							<p>歡迎光臨 液態橡膠!</p>

							<!-- footer social -->
							<ul class="footer-social">
								<li><a href="http://bit.ly/2A4NgB6" target="_blank"><i class="fa fa-facebook"></i>DIY臉書</a></li>
								<li><a href="http://t.cn/EUr7eUo" target="_blank"><i class="fa fa-youtube"></i>YOUTUBE影片參考</a></li>
								<li><a href="https://line.me/R/ti/p/@lr0966669553" target="_blank"><i class="fa fa-line"></i>LINE@即時洽詢</a></li>
								<li><a href="http://www.xn--8hu35rzucfx2a.com/" target="_blank"><i class="fa fa-eyedropper"></i>工程網站</a></li>
								<li><a href="https://www.facebook.com/djb.tw/" target="_blank"><i class="fa fa-facebook"></i>築城臉書</a></li>
								<!-- >li><a href="#"><i class="fa fa-twitter"></i></a></li -->
								<!-- li><a href="#"><i class="fa fa-instagram"></i></a></li -->
								<!-- li><a href="#"><i class="fa fa-google-plus"></i></a></li -->
								<!-- li><a href="#"><i class="fa fa-pinterest"></i></a></li -->
							</ul>
							<!-- /footer social -->
						</div>
					</div>
					<!-- /footer widget -->

					<!-- footer widget -->
					<div class="col-md-3 col-sm-6 col-xs-6">
						<div class="footer">
							<h3 class="footer-header">我的帳戶</h3>
							<ul class="list-links">
								<li><a th:href="@{/my_account}">我的帳戶</a></li>
								<li><a th:href="@{/checkout}">結帳</a></li>
								<li><a th:href="@{/login}">登入</a></li>
							</ul>
						</div>
					</div>
					<!-- /footer widget -->

					<div class="clearfix visible-sm visible-xs"></div>

					<!-- footer widget -->
					<div class="col-md-3 col-sm-6 col-xs-6">
						<div class="footer">
							<h3 class="footer-header">客服中心</h3>
							<ul class="list-links">
								<li><a th:href="@{/about}">關於我們</a></li>
								<li><a th:href="@{/shipping_and_refund}">運送與退貨說明</a></li>
								<li><a th:href="@{//shipping_guide}">運送指引</a></li>
								<li><a th:href="@{/faq}">FAQ</a></li>
							</ul>
						</div>
					</div>
					<!-- /footer widget -->

					<!-- footer subscribe -->
					<!-- div class="col-md-3 col-sm-6 col-xs-6">
						<div class="footer">
							<h3 class="footer-header">追蹤我們</h3>
							<p>請輸入底下您的手機號碼或電子郵件，如有最新消息我們將通知您.</p>
							<form>
								<div class="form-group">
									<input class="input" placeholder="請輸入手機號碼或電子郵件" />
								</div>
								<button class="primary-btn">加入通知清單</button>
							</form>
						</div>
					</div -->
					<!-- /footer subscribe -->
				</div>
				<!-- /row -->
				<hr />
				<!-- row -->
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						<!-- footer copyright -->
						<div class="footer-copyright">
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							Copyright andcopy;
							<script>
								document.write(new Date().getFullYear());
							</script>
							All rights reserved | This template is made with <i
								class="fa fa-heart-o" aria-hidden="true"></i> by <a
								href="https://colorlib.com" target="_blank">Colorlib</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</div>
						<!-- /footer copyright -->
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</footer>
		<!-- /FOOTER -->
	</div>
</body>

</html>
