<!DOCTYPE html>
<html itemscope="" itemtype="http://schema.org/SearchResultsPage" lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta th:replace="fragments/meta_resources :: meta_resources"></meta>
</head>
<body>
	<div th:replace="fragments/body_header :: body_header"></div>
	<div th:replace="fragments/body_navigation :: body_navigation"></div>
    <!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a th:href="@{/manager}">管理系統</a></li>
				<li class="active">訂單管理</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->

        <!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
		    <div th:replace="fragments/body_header :: body_info"></div>
			<!-- row -->
			<div class="row">

            <h3>--訂單管理--</h3>
          <form th:action="@{/manager/order/search}" method="post" class="form-horizontal">  
            <div class="form-group">
            <div class="row">
                <label for="startDate" class="col-sm-2 control-label">時間區間:</label>
                <div class="input-daterange input-group" id="datepicker" style="padding-left: 15px;">
                    <input type="text" class="input form-control" style="width:100%;" name="startDate" />
                    <span class="input-group-addon" style="width:8%;">to</span>
                    <input type="text" class="input form-control" style="width:100%;" name="endDate" />
                </div>

            </div>
            </div>
           
            <div class="form-group">
             <div class="row">
                <label for="orderNo" class="col-sm-2 control-label">訂單編號:</label>
                <div class="col-md-8 col-xs-8">
                    <input class="input" style="width:50%;" type="text" id="orderNo" name="orderNo" />
                </div>
            </div>
            </div>
            
            <div class="form-group">
            <div class="row">
                <label for="statusId" class="col-sm-2 control-label">訂單狀態:</label>
                <div class="col-md-8 col-xs-8">
                    <select id="statusId" name="statusId" class="input" style="width:50%;">
                        <option value="0"></option>
                        <option value="1">訂單成立，待付款</option>
                        <option value="2">付款確認中</option>
                        <option value="3">已付款，待出貨</option>
                        <option value="4">已出貨</option>
                        <option value="5">待收貨</option>
                        <option value="6">完成</option>
                        <option value="7">取消</option>
                    </select>
                </div>
            </div>
            </div>
            <div class="form-group">
            <div class="row text-center">
               <input class="btn btn-primary" type="submit" value="查詢"/>&nbsp;&nbsp;
               <input class="btn btn-default" type="button" value="返回" onclick="history.back()"/>
               
            </div>
            </div>
            <!-- store top filter -->
					<div class="store-filter clearfix">
						<div class="pull-right">
							<div class="page-filter">
								<span class="text-uppercase">每頁筆數:</span>
								<select id="pageSize_1" name="pageSize_1" class="input" onChange="application_list.reload();">
										<option value="10" th:if="${pageSize != 10}">10</option>
										<option value="10" th:if="${pageSize == 10}" selected="true">10</option>
										<option value="50" th:if="${pageSize != 50}">50</option>
										<option value="50" th:if="${pageSize == 50}" selected="true">50</option>
										<option value="100" th:if="${pageSize != 100}">100</option>
										<option value="100" th:if="${pageSize == 100}" selected="true">100</option>
								</select>
							</div>
							<ul class="store-pages" th:each="i, itrStat: ${#numbers.sequence(1, totalPages)}">
								<li th:if="${i == 1}"><span class="text-uppercase">頁次:</span></li>
								<li th:if="${i == pageNumber + 1}" class="active" th:text="${i}">1</li>
								<li th:if="${i != pageNumber + 1}"><a th:href="@{/manager/order/search(removed=)} + ${default_url_page} + '' + ${i}" th:text="${i}">1</a></li>
								<li th:if="${i == totalPages}"><a href="#"><i class="fa fa-caret-right"></i></a></li>
							</ul>
						</div>
					</div>
					<!-- /store top filter -->
            <table class="table table-hover table-condensed">
                <legend>
                    <strong>訂單列表</strong>
                    <strong class="text-right"><a class="btn btn-info"  th:href="@{'/manager/order/reportCustom'}">客戶匯出</a></strong>
                    <strong class="text-right"><a class="btn btn-info"  th:href="@{'/manager/order/reportOrder'}">訂單匯出</a></strong>
                </legend>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>編號</th>
                        <th>訂購帳號</th>
                        <th>訂單金額</th>
                        <th>訂單成立時間</th>
                        <th>修改人員</th>
                        <th>訂單狀態</th>
                        <th>交易別</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="order : ${orderList}">
                        <td class="text-right" scope="row" th:text="${order.id}"></td>
                        <td class="text-left" scope="row" th:text="${order.orderNo}"></td>
                        <td class="text-left" scope="row" th:text="${order.username}"></td>
                        <td class="text-right" scope="row" th:text="${order.amount}"></td>
                        <td class="text-left" scope="row" th:text="${order.inserted}"></td>
                        <td class="text-left" scope="row" th:text="${order.update_by}"></td>
                        <td class="text-left" scope="row" th:text="${order.orderStatus.description}"></td>
                        <td class="text-left" scope="row" th:text="${order.paymentMethod.description}"></td>
                        <td>
                        <a class="btn btn-info" th:href="@{'/manager/order/update/' + ${order.id}}">修改</a>
                        <a class="btn btn-danger" th:href="@{'/manager/order/delete/' + ${order.id}}">取消</a>
                        </td>
                        </tr>
                </tbody>
            </table>
</form>
        </div>
        </div>
        </div>
        
    <div th:replace="fragments/body_footer :: body_footer"></div>
    <div th:replace="fragments/body_resources :: body_resources"></div>
   
    <script th:src="@{/js/index.js}"></script>
    <script type="text/javascript">
    $('.input-daterange').datepicker({
    	format: "yyyy/mm/dd",
        language: "zh-TW",
        clearBtn: true,
        autoclose: true
    });

    </script>
 </body>

</html>