<!DOCTYPE html>
<html itemscope="" itemtype="http://schema.org/SearchResultsPage" lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta th:replace="fragments/meta_resources :: meta_resources"></meta>
</head>
<body>
	<div th:replace="fragments/body_header :: body_header"></div>

    <!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a th:href="@{/manager}">管理系統</a></li>
				<li class="active">使用者管理</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->

        <!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
		    <div th:replace="fragments/body_header :: body_info"></div>
			<!-- row -->
			<div class="row">

            <h3>--訂單管理--</h3>

            <legend>
                <strong th:if="${action == 'create'}">建立訂單</strong>
                <strong th:if="${action == 'update'}">修改訂單</strong>
            </legend>

            <form th:action="@{/manager/order/{action}(action=${action})}" method="post" class="form-horizontal">
                <input id="statusIdTmp" name="statusIdTmp" type="hidden" th:value="${order.statusId}"/>
                <input id="orderNo" name="orderNo" type="hidden" th:value="${order.orderNo}"/>
                <div class="form-group">
                    <h4 class="col-md-12">
                    <strong th:text="${'訂單編號：' + order.orderNo}"></strong>
                    </h4>
                    <div class="col-md-4"><h4>狀態：
                    <select class="form-control" id="statusId" name="statusId">
                    <option value="0">------</option>
                    <option value="1">訂單成立，待付款</option>
                    <option value="2">付款確認中</option>
                    <option value="3">已付款，待出貨</option>
                    <option value="4">已出貨</option>
                    <option value="5">待收貨</option>
                    <option value="6">完成</option>
                    <option value="7">取消</option>
                    </select> </h4>
                    </div>
                </div>
                <div class="col-md-12">
						<div class="order-summary clearfix">
							<div class="section-title">
								<h3 class="title">訂單內容</h3>
							</div>
							<table class="shopping-cart-table table">
								<thead>
									<tr>
										<th>訂單商品</th>
										<th></th>
										<th class="text-center">單價</th>
										<th class="text-center">數量</th>
										<th class="text-center">總價</th>
										<!-- th class="text-right"></th-->
									</tr>
								</thead>
								<tbody>
									<tr th:each="orderDetail, itrStat : ${order.orderDetails}">
									    <td class="thumb"><img th:src="@{${orderDetail.product.img}}" alt=""/></td>
										<td class="details">
											<a th:href="@{'/products/' + ${orderDetail.id.productId}}" th:text="${orderDetail.productName}">商品名稱</a>
										</td>
										<td class="price text-center">
										    <strong th:text="${'$' +orderDetail.price}">$0</strong>
										    <br/>
										</td>
										<td class="qty text-center">
										    <strong th:text="${orderDetail.quantity}">$0</strong>
										    <br/>
										  
										</td>
										<td class="total text-center">
										    <strong class="primary-color" th:text="${orderDetail.price * orderDetail.quantity}">$0</strong>
										</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<th class="empty" colspan="3"></th>
										<th>商品總金額</th>
										<th colspan="2" class="sub-total" th:text="${'$' + (order.amount - order.shipping)}">$0</th>
									</tr>
									<tr>
										<th class="empty" colspan="3"></th>
										<th>運費總金額</th>
										<td colspan="2" th:if="${order.shipping == 0}">免運</td>
										<td colspan="2" th:if="${order.shipping != 0}" th:text="${'$' + order.shipping}"></td>
									</tr>
									<tr>
										<th class="empty" colspan="3"></th>
										<th>總付款金額</th>
										<th colspan="2" class="total" th:text="${'$' + order.amount}">$0</th>
									</tr>
								</tfoot>
							</table>
							
						</div>

					</div>
                
                
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input class="btn btn-primary" type="submit" value="修改"/>&nbsp;&nbsp;
                        <input class="btn" type="button" value="返回" onclick="history.back()"/>
                    </div>
                </div>
            </form>
        </div>
      </div>
    </div>
        
    <div th:replace="fragments/body_footer :: body_footer"></div>
    <div th:replace="fragments/body_resources :: body_resources"></div>
   
    <script th:src="@{/js/index.js}"></script>
    <script th:src="@{/js/orderForm.js}"></script>
 </body>

</html>