<!DOCTYPE html>
<html itemscope="" itemtype="http://schema.org/SearchResultsPage" lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta th:replace="fragments/meta_resources :: meta_resources"></meta>
</head>
<body>
	<div th:replace="fragments/body_header :: body_header"></div>

    <!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a th:href="@{/manager}">管理系統</a></li>
				<li class="active">訂單管理</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->

        <!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
		    <div th:replace="fragments/body_header :: body_info"></div>
			<!-- row -->
			<div class="row">

            <h3>--訂單管理--</h3>

            <table class="table table-hover table-condensed">
                <legend>
                    <strong>訂單列表</strong>
                </legend>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>編號</th>
                        <th>訂購帳號</th>
                        <th>訂單金額</th>
                        <th>訂單成立時間</th>
                        <th>修改人員</th>
                        <th>訂單狀態</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="order : ${orderList}">
                        <td class="text-right" scope="row" th:text="${order.id}"></td>
                        <td class="text-left" scope="row" th:text="${order.orderNo}"></td>
                        <td class="text-left" scope="row" th:text="${order.username}"></td>
                        <td class="text-right" scope="row" th:text="${order.amount}"></td>
                        <td class="text-left" scope="row" th:text="${order.inserted}"></td>
                        <td class="text-left" scope="row" th:text="${order.update_by}"></td>
                        <td class="text-left" scope="row" th:text="${order.statusDescription}"></td>
                        <td>
                        <a class="btn btn-info" th:href="@{'/manager/order/update/' + ${order.id}}">修改</a>
                        <a class="btn btn-danger" th:href="@{'/manager/order/delete/' + ${order.id}}">删除</a>
                        </td>
                        </tr>
                </tbody>
            </table>

        </div>
        </div>
        </div>
        
 <div th:replace="fragments/body_footer :: body_footer"></div>
    <div th:replace="fragments/body_resources :: body_resources"></div>
   
    <script th:src="@{/js/index.js}"></script>
 </body>

</html>