<!DOCTYPE html>
<html itemscope="" itemtype="http://schema.org/SearchResultsPage"
	lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">

<head>
<meta th:replace="fragments/meta_resources :: meta_resources"></meta>
</head>

<body>
	<div th:replace="fragments/body_header :: body_header"></div>

	<div th:replace="fragments/body_navigation :: body_navigation"></div>

	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a th:href="@{/}">首頁</a></li>
				<li class="active">購物車</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<div class="order-summary clearfix">
						<div class="section-title">
							<h3 class="title">我的購物車</h3>
						</div>
						<table class="shopping-cart-table table">
							<thead>
								<tr>
									<th>商品</th>
									<th></th>
									<th class="text-center">單價</th>
									<th class="text-center">數量</th>
									<th class="text-center">總計</th>
									<th class="text-right">操作</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="productTempOrder, itrStat : ${PRODUCTS_IN_CART.productsTempOrder}">
										<td class="thumb"><img th:src="@{${productTempOrder.img}}" alt=""/></td>
										<td class="details">
											<a th:href="@{'/products/' + ${productTempOrder.productId}}" th:text="${productTempOrder.productName}">商品名稱</a>
											<ul class="color-option">
											    <li><a href="#" th:style="${'background-color:' + productTempOrder.color}"></a></li>
												<li><span th:text="${'顏色: ' + productTempOrder.color}">顏色: ??</span></li>
											</ul>
										</td>
										<td class="price text-center">
										    <strong th:text="${'$' +productTempOrder.price}">$0</strong>
										    <br/>
										    <del class="font-weak"><small th:text="${'$' + productTempOrder.originalPrice}">$0</small></del>
										</td>
										<td class="qty text-center"><input id="sub_quantity" name="sub_quantity" class="input" type="number" th:value="${productTempOrder.quantity}"
										th:onchange="'cart.changeQty(\'' + ${productTempOrder.productId} + '\', this, \'' + ${productTempOrder.color} + '\');'"/></td>
										<td class="total text-center">
										    <strong class="primary-color" th:text="${'$' +productTempOrder.subTotalAmt}">$0</strong>
										</td>
										<td class="text-right"><button class="main-btn icon-btn" th:onclick="${'index.deleteCart(' + productTempOrder.productId + ');window.location.reload();'}"><i class="fa fa-close"></i></button></td>
									</tr>
							</tbody>
							<tfoot>
							    <tr>
									<th class="empty" colspan="3"></th>
									<th>商品總金額</th>
									<th colspan="2" class="sub-total" th:text="${'$' + PRODUCTS_IN_CART.subTotalAmt}">$0</th>
								</tr>
								<tr>
									<th class="empty" colspan="3"></th>
									<th>折扣金額</th>
									<td colspan="2" class="sub-total">$0</td>
								</tr>
								<tr>
									<th class="empty" colspan="3"></th>
									<th>運費總金額</th>
									<td colspan="2" th:if="${PRODUCTS_IN_CART.shipment == 0}">Free Shipping</td>
									<td colspan="2" th:if="${PRODUCTS_IN_CART.shipment != 0}" th:text="${'$' + order.shipment}"></td>
									</tr>
								<tr>
									<th class="empty" colspan="3"></th>
									<th>總付款金額</th>
									<th colspan="2" class="total" th:text="${'$' + PRODUCTS_IN_CART.totalAmt}">$0</th>
								</tr>
								
								
								
							</tfoot>
						</table>
						<div class="pull-right">
						    <a th:if="${PRODUCTS_IN_CART.totalAmt == 0}" class="primary-btn" th:href="@{/products}"> 
							購物去 <i class="fa fa-arrow-circle-right"></i>
							</a>
							<a th:if="${PRODUCTS_IN_CART.totalAmt != 0}" class="primary-btn" th:href="@{/checkout}"> 
							去買單 <i class="fa fa-arrow-circle-right"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

	<div th:replace="fragments/body_footer :: body_footer"></div>
    <div th:replace="fragments/body_resources :: body_resources"></div>
	<script th:src="@{/js/index.js}"></script>
	<script th:src="@{/js/cart.js}"></script>

</body>

</html>
