<!DOCTYPE html>
<html itemscope="" itemtype="http://schema.org/SearchResultsPage" lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">

<head>
<meta th:replace="fragments/meta_resources :: meta_resources"></meta>
</head>

<body style="display: none;">
	<div th:replace="fragments/body_header :: body_header"></div>

	<div th:replace="fragments/body_navigation :: body_navigation"></div>

	<!-- HOME -->
	<div id="home">
		<!-- container -->
		<div class="container">
			<!-- home wrap -->
			<div class="home-wrap">
				<!-- home slick -->
				<div id="home-slick">
					<!-- banner -->
					<div class="banner banner-1">
						<img th:src="@{/img/banner01.jpg}" alt=""/>
						<div class="banner-caption text-center">
							<h1>大折扣</h1>
							<h3 class="white-color font-weak">最高折扣50%</h3>
							<a class="primary-btn" th:href="@{/products}">購物去</a>
						</div>
					</div>
					<!-- /banner -->

					<!-- banner -->
					<div class="banner banner-1">
						<img th:src="@{/img/banner02.jpg}" alt=""/>
						<div class="banner-caption">
							<h1 class="primary-color">最熱門<br/><span class="white-color font-weak">最高折扣30%</span></h1>
							<a class="primary-btn" th:href="@{/products}">購物去</a>
						</div>
					</div>
					<!-- /banner -->

					<!-- banner -->
					<div class="banner banner-1">
						<img th:src="@{/img/banner03.jpg}" alt=""/>
						<div class="banner-caption">
							<h1 class="white-color">新產品 <span>上市</span></h1>
							<a class="primary-btn" th:href="@{/products}">購物去</a>
						</div>
					</div>
					<!-- /banner -->
				</div>
				<!-- /home slick -->
			</div>
			<!-- /home wrap -->
		</div>
		<!-- /container -->
	</div>
	<!-- /HOME -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
			    <!-- banner -->
			    <!-- col-md-3 col-md-offset-0 col-sm-6 col-sm-offset-3 -->
				<div class="col-md-3 col-sm-6" th:each="category: ${CATEGORY_OBJECTS}">
					<a class="banner banner-1" th:href="@{'/products/search?category=' + ${category.id}}">
						<img th:src="@{${category.img}}" alt=""/>
						<div class="banner-caption text-center">
							<h2 class="white-color" th:text="${category.name}">???</h2>
						</div>
					</a>
				</div>
				<!-- /banner -->

			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row" th:if="${#lists.size(promotion_product) != 0}">
				<!-- section-title -->
				<div class="col-md-12">
					<div class="section-title">
						<h2 class="title">今日特價</h2>
						<div class="pull-right">
							<div class="product-slick-dots-1 custom-dots"></div>
						</div>
					</div>
				</div>
				<!-- /section-title -->

				<!-- banner -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="banner banner-2">
						<img th:src="@{/img/banner14.jpg}" alt=""/>
						<div class="banner-caption">
							<h2 class="white-color">新上市<br/>產品</h2>
							<a class="primary-btn" th:href="@{/products}">購物去</a>
						</div>
					</div>
				</div>
				<!-- /banner -->

				<!-- Product Slick -->
				<div class="col-md-9 col-sm-6 col-xs-6">
					<div class="row">
						<div id="product-slick-1" class="product-slick">
						    <div class="product product-single" th:each="product: ${promotion_product}">
						        <div class="product-thumb">
						            <div class="product-label">
						                <span th:if="${product.newest == 1}">新上市</span>
						                <span th:if="${product.promotion_on == 1}" class="sale" th:text="${(100 - product.promotion_discount) + '%'}">0%</span>
						                <span th:if="${product.promotion_on == 0}" class="sale" th:text="${(100 - product.discount) + '%'}">0%</span>
						            </div>
						            <ul class="product-countdown" th:attr="data-countdown=${product.promotion_end_str}">
                                        <li><span class="days">00 天</span></li>
								        <li><span class="hours">00 H</span></li>
								        <li><span class="minutes">00 M</span></li>
								        <li><span class="seconds">00 S</span></li>
							        </ul>
						            <a class="main-btn quick-view" th:href="@{'/products/' + ${product.id}}"><i class="fa fa-search-plus"></i> 瀏覽商品</a>
									<img th:src="@{${product.img}}" alt=""/>
						        </div>
						        <div class="product-body">
						            <h3 class="product-price" th:text="${'$' + (product.promotion_price)}">$0 </h3>
						            <del class="product-old-price" style="font-size:16px" th:text="${product.price}">$0</del>
									<div class="product-rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-o empty"></i>
									</div>
									<h2 class="product-name"><a th:href="@{'/products/' + ${product.id}}" th:text="${#strings.abbreviate(product.name, 20)}">Product Name Goes Here</a></h2>
									<div class="product-btns">
										<button class="main-btn icon-btn" th:onclick="'index.addWish(\'' + ${product.id} + '\');'"><i class="fa fa-heart-o"></i></button>
										<button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
										<button class="primary-btn add-to-cart" th:onclick="'index.addCart(\'' + ${product.id} + '\');'"><i class="fa fa-shopping-cart"></i>加入購物車</button>
									</div>
						        </div>
						    </div>
						</div>
					</div>
				</div>
				<!-- /Product Slick -->
			</div>
			<!-- /row -->

			<!-- row -->
			<div class="row">
				<!-- section title -->
				<div class="col-md-12">
					<div class="section-title">
						<h2 class="title">熱門商品</h2>
						<div class="pull-right">
							<div class="product-slick-dots-2 custom-dots">
							</div>
						</div>
					</div>
				</div>
				<!-- section title -->

				<!-- Product Single -->
				<div class="col-md-3 col-sm-6 col-xs-6" th:each="product, itrStat: ${promotion_product_one}">
					<div class="product product-single product-hot" th:if="${itrStat.index == 0}">
						<div class="product-thumb">
							<div class="product-label">
							    <span th:if="${product.newest == 1}">新上市</span>
								<span class="sale" th:text="${(100 - product.promotion_discount) + '%'}" th:if="${product.promotion_discount != 100}">0%</span>
							</div>
							
                            <ul class="product-countdown" th:attr="data-countdown=${product.promotion_end_str}">
                                <li><span class="days">00 天</span></li>
								<li><span class="hours">00 H</span></li>
								<li><span class="minutes">00 M</span></li>
							    <li><span class="seconds">00 S</span></li>
							</ul>
							<a class="main-btn quick-view" th:href="@{'/products/' + ${product.id}}"><i class="fa fa-search-plus"></i> 瀏覽商品</a>
							<img th:src="@{${product.img}}" alt=""/>
						</div>
						<div class="product-body">
							<h3 class="product-price" th:text="${'$' + (product.promotion_price)}">$0 </h3>
						    <del class="product-old-price" style="font-size:16px" th:text="${product.price}">$0</del>
							<div class="product-rating">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-o empty"></i>
							</div>
							<h2 class="product-name"><a th:href="@{'/products/' + ${product.id}}" th:text="${#strings.abbreviate(product.name, 20)}">Product Name Goes Here</a></h2>
							<div class="product-btns">
								<button class="main-btn icon-btn" th:onclick="'index.addWish(\'' + ${product.id} + '\');'"><i class="fa fa-heart-o"></i></button>
								<button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
								<button class="primary-btn add-to-cart" th:onclick="'index.addCart(\'' + ${product.id} + '\');'"><i class="fa fa-shopping-cart"></i>加入購物車</button>
							</div>
						</div>
					</div>
				</div>
				<!-- /Product Single -->

				<!-- Product Slick -->
				<div class="col-md-9 col-sm-6 col-xs-6" th:if="${#lists.size(promotion_product_one) != 0}">				
					<div class="row">
						<div id="product-slick-2" class="product-slick">
							<!-- Product Single -->
							<div class="product product-single" th:each="product, itrStat: ${suggest_product}">
								<div class="product-thumb">
								    <div class="product-label">
										<span th:if="${product.newest == 1}">新上市</span>
										<span th:text="${(100 - product.discount) + '%'}" th:if="${product.discount != 100}" class="sale">0%</span>
									</div>
									<a class="main-btn quick-view" th:href="@{'/products/' + ${product.id}}"><i class="fa fa-search-plus"></i> 瀏覽商品</a>
									<img th:src="@{${product.img}}" alt=""/>
								</div>
								<div class="product-body">
									<h3 class="product-price" th:text="${'$' + (product.price)}">$0 </h3>
						            <del class="product-old-price" style="font-size:16px" th:text="${product.price}">$0</del>
						            <div class="product-rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-o empty"></i>
									</div>
									<h2 class="product-name"><a th:href="@{'/products/' + ${product.id}}" th:text="${#strings.abbreviate(product.name, 20)}">商品名稱</a></h2>
									<div class="product-btns">
										<button class="main-btn icon-btn" th:onclick="'index.addWish(\'' + ${product.id} + '\');'"><i class="fa fa-heart-o"></i></button>
										<button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
										<button class="primary-btn add-to-cart" th:onclick="'index.addCart(\'' + ${product.id} + '\');'"><i class="fa fa-shopping-cart"></i>加入購物車</button>
									</div>
								</div>
							</div>
							<!-- /Product Single -->
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-6 col-xs-6" th:unless="${#lists.size(promotion_product_one) != 0}">
					<div class="row">
						<div id="product-slick-2" class="product-slick">
							<!-- Product Single -->
							<div class="product product-single" th:each="product, itrStat: ${suggest_product}">
								<div class="product-thumb">
								    <div class="product-label">
										<span th:if="${product.newest == 1}">新上市</span>
										<span th:text="${(100 - product.discount) + '%'}" th:if="${product.discount != 100}" class="sale">0%</span>
									</div>
									<a class="main-btn quick-view" th:href="@{'/products/' + ${product.id}}"><i class="fa fa-search-plus"></i> 瀏覽商品</a>
									<img th:src="@{${product.img}}" alt=""/>
								</div>
								<div class="product-body">
									<h3 class="product-price" th:text="${'$' + (product.price)}">$0 </h3>
						            <del class="product-old-price" style="font-size:16px" th:text="${product.price}">$0</del>
						            <div class="product-rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-o empty"></i>
									</div>
									<h2 class="product-name"><a th:href="@{'/products/' + ${product.id}}" th:text="${#strings.abbreviate(product.name, 20)}">商品名稱</a></h2>
									<div class="product-btns">
										<button class="main-btn icon-btn" th:onclick="'index.addWish(\'' + ${product.id} + '\');'"><i class="fa fa-heart-o"></i></button>
										<button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
										<button class="primary-btn add-to-cart" th:onclick="'index.addCart(\'' + ${product.id} + '\');'"><i class="fa fa-shopping-cart"></i>加入購物車</button>
									</div>
								</div>
							</div>
							<!-- /Product Single -->
						</div>
					</div>
				</div>
				<!-- /Product Slick -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

	<!-- section -->
	<div class="section section-grey">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- banner -->
				<div class="col-md-12">
					<div class="banner banner-1">
						<img th:src="@{/common/image/用途說明/use_to.jpg}" alt=""/>
						<!-- div class="banner-caption text-center">
							<h1 class="primary-color">HOT DEAL<br/><span class="white-color font-weak">Up to 50% OFF</span></h1>
							<button class="primary-btn">Shop Now</button>
						</div-->
					</div>
				</div>
				<!-- /banner -->

				
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			
			<!-- row -->
			<div class="row">
				<!-- Product Single -->
				<div class="col-md-3 col-sm-6 col-xs-6" th:each="product, itrStat: ${newest_product}">
				    <div class="product product-single" th:if="${itrStat.index == 4 or itrStat.index == 5 or itrStat.index == 6}">
						<div class="product-thumb">
							<div class="product-label">
								<span th:if="${product.newest == 1}">新上市</span>
								<span class="sale" th:text="${(100 - product.promotion_discount) + '%'}" th:if="${product.discount != 100}">0%</span>
							</div>
							<a class="main-btn quick-view" th:href="@{'/products/' + ${product.id}}"><i class="fa fa-search-plus"></i> 瀏覽商品</a>
							<img th:src="@{${product.img}}" alt=""/>
						</div>
						<div class="product-body">
							<h3 class="product-price"  th:text="${'$' + (product.promotion_price)}">$0</h3>
							<del class="product-old-price" style="font-size:16px" th:text="${product.price}">$0</del>
							<div class="product-rating">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-o empty"></i>
							</div>
							<h2 class="product-name"><a th:href="@{'/products/' + ${product.id}}" th:text="${#strings.abbreviate(product.name, 20)}">Product Name Goes Here</a></h2>
							<div class="product-btns">
								<button class="main-btn icon-btn" th:onclick="'index.addWish(\'' + ${product.id} + '\');'"><i class="fa fa-heart-o"></i></button>
								<button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
								<button class="primary-btn add-to-cart" th:onclick="'index.addCart(\'' + ${product.id} + '\');'"><i class="fa fa-shopping-cart"></i> 加入購物車</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /row -->

			<!-- row -->
			<div class="row">
				<!-- section title -->
				<div class="col-md-12">
					<div class="section-title">
						<h2 class="title">建議購買清單</h2>
					</div>
				</div>
				<!-- section title -->

                <!-- Product Single -->
				<div class="col-md-3 col-sm-6 col-xs-6" style="min-height: 480px; padding-bottom: 10px;" th:each="product, itrStat: ${recommended_product}">
					<div class="product product-single">
						<div class="product-thumb">
							<div class="product-label">
								<span th:if="${product.newest == 1}">新上市</span>
								<span th:text="${(100 - product.discount) + '%'}" th:if="${product.discount != 100}" class="sale">0%</span>
							</div>
							<a class="main-btn quick-view" th:href="@{'/products/' + ${product.id}}"><i class="fa fa-search-plus"></i> 瀏覽商品</a>
							<img th:src="@{${product.img}}" alt=""/>
						</div>
						<div class="product-body">
							<h3 class="product-price"  th:text="${'$' + (product.promotion_price)}">$0</h3>
							<del class="product-old-price" style="font-size:16px" th:text="${product.price}">$0</del>
							<div class="product-rating">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-o empty"></i>
							</div>
							<h2 class="product-name"><a th:href="@{'/products/' + ${product.id}}" th:text="${#strings.abbreviate(product.name, 18)}">商品名稱</a></h2>
							<div class="product-btns">
								<button class="main-btn icon-btn" th:onclick="'index.addWish(\'' + ${product.id} + '\');'"><i class="fa fa-heart-o"></i></button>
								<button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
								<button class="primary-btn add-to-cart" th:onclick="'index.addCart(\'' + ${product.id} + '\');'"><i class="fa fa-shopping-cart"></i> 加入購物車</button>
							</div>
						</div>
					</div>
				</div>
				<!-- /Product Single -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->
    <!-- Button trigger modal -->
<!-- button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCartModalCenter">
  Launch demo modal
</button -->

    <div th:replace="fragments/modal :: addCart"></div>
    <div th:replace="fragments/modal :: removeCart"></div>
	<div th:replace="fragments/body_footer :: body_footer"></div>
    <div th:replace="fragments/body_resources :: body_resources"></div>
	
	<script th:src="@{/js/index.js}"></script>
	<script>$("body").show();</script>

</body>

</html>
