<!DOCTYPE html>
<html itemscope="" itemtype="http://schema.org/SearchResultsPage" lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">

<head>
<meta th:replace="fragments/meta_resources :: meta_resources"></meta>
<link type="text/css" rel="stylesheet" th:href="@{/css/jquery.mapify.css}" />
<style type="text/css">
	
	/* Mapify custom popOver example */
	
	.mapify-popOver strong{
		font-weight: 400;
		font-size:24px;
		line-height: 1em;
		display: block;
		margin-bottom: 10px;
		color: #000;
	}
	.mapify-popOver{
		color: #999;
		font-size: 16px;
		height: 130px;
	}
	.mapify-popOver-content{
		position: relative;
		top:50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
	}
	
	.mapify-popOver.customPopOver{
		background: #09f;
	}
	
	/* Custom hovering style */
	.mapify-hover{
		fill:rgba(0,0,0,0.15);
		stroke: #fff;
		stroke-width: 2;
	}
	
	.customHover{
		fill:#09f;
		stroke: #fff;
		stroke-width: 2;
	}
	#top {
   background:#A29A8F;
  color:#FFFFFF;
  border:4px solid #FFFFFF;
  padding:5px;
  width:250px;
  height:200px;
  position:absolute;
  top:300px;
  right:10px;
  _position: absolute; /* position fixed for IE6 */
  _top:expression(documentElement.scrollTop+100);
  z-index:3;
}
</style>
</head>

<body style="display: none;">
	<div th:replace="fragments/body_header :: body_header"></div>
		<div id="top" class="text-center">本網站所販售之「液態橡膠-DIY」系列材料，適合所有民眾居家修繕，非大面積、大範圍工程施工使用產品。
<br/>
「工程用液態橡膠產品」與網站內所有「DIY產品」於施工設備與技術方面要求不同。若有工程用產品需求之人士，請來信（liquidrubbertaiwan@gmail.com）洽詢，我們竭誠為各位服務。</div>
	<div th:replace="fragments/body_navigation :: body_navigation"></div>

	<!-- HOME -->
	<div id="home">
		<!-- container -->
		<div class="container">
		<div th:replace="fragments/body_header :: body_info"></div>

			<!-- home wrap -->
			<div class="home-wrap">
				<!-- home slick -->
				<div id="home-slick">
					<!-- banner -->
					<div class="banner banner-1">
						<img th:src="@{/img/banner01.jpg}" alt=""/>
						<div class="banner-caption text-center">
							<!-- >h1>大折扣</h1>
							<h3 class="white-color font-weak">最高折扣50%</h3 -->
							<a class="primary-btn" th:href="@{/products}">購物去</a>
						</div>
					</div>
					<!-- /banner -->

					<!-- banner -->
					<div class="banner banner-1">
						<img th:src="@{/img/banner02.jpg}" alt=""/>
						<div class="banner-caption">
							<!-- >h1 class="primary-color">最熱門<br/><span class="white-color font-weak">最高折扣30%</span>
							</h1 -->
							<a class="primary-btn" th:href="@{/products}">購物去</a>
						</div>
					</div>
					<!-- /banner -->

					<!-- banner -->
					<div class="banner banner-1">
						<img th:src="@{/img/banner03.jpg}" alt=""/>
						<div class="banner-caption">
							<!-- >h1 class="white-color">新產品 <span>上市</span></h1 -->
							<a class="primary-btn" th:href="@{/products}">購物去</a>
						</div>
					</div>
					<!-- /banner -->
				</div>
			</div>
			<!-- /home wrap -->

		</div>
		<!-- /container -->
	</div>
	<!-- /HOME -->
    
	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
			    <!-- banner -->
			    <!-- col-md-3 col-md-offset-0 col-sm-6 col-sm-offset-3 -->
				<div class="col-md-3 col-sm-6" th:each="category: ${CATEGORY_OBJECTS}">
					<a class="banner banner-1" th:href="@{'/products/search?category=' + ${category.id}}">
						<img th:src="@{${category.img}}" alt=""/>
						<div class="banner-caption text-center">
							<h2 class="white-color" th:text="${category.name}">???</h2>
						</div>
					</a>
				</div>
				<!-- /banner -->

			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row" th:if="${#lists.size(promotion_product) != 0}">
				<!-- section-title -->
				<div class="col-md-12">
					<div class="section-title">
						<h2 class="title">今日特價</h2>
						<div class="pull-right">
							<div class="product-slick-dots-1 custom-dots"></div>
						</div>
					</div>
				</div>
				<!-- /section-title -->

				<!-- banner -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="banner banner-2">
						<img th:src="@{/img/banner14.jpg}" alt=""/>
						<div class="banner-caption">
							<h2 class="white-color">新上市<br/>產品</h2>
							<a class="primary-btn" th:href="@{/products}">購物去</a>
						</div>
					</div>
				</div>
				<!-- /banner -->

				<!-- Product Slick -->
				<div class="col-md-9 col-sm-6 col-xs-6">
					<div class="row">
						<div id="product-slick-1" class="product-slick">
						    <div class="product product-single" th:each="product: ${promotion_product}">
						        <div class="product-thumb">
						            <div class="product-label">
						                <span th:if="${product.newest == 1}">新上市</span>
						                <span th:if="${product.promotion_on == 1 and product.promotion_discount != 100}" th:text="${(100 - product.promotion_discount) + '%'}" class="sale">0%</span>
						                <span th:if="${product.promotion_on == 0 and product.discount != 100}" th:text="${(100 - product.discount) + '%'}" class="sale">0%</span>
						            </div>
						            <ul class="product-countdown" th:attr="data-countdown=${product.promotion_end_str}">
                                        <li><span class="days">00 天</span></li>
								        <li><span class="hours">00 H</span></li>
								        <li><span class="minutes">00 M</span></li>
								        <li><span class="seconds">00 S</span></li>
							        </ul>
						            <a class="main-btn quick-view" th:href="@{'/products/' + ${product.id}}"><i class="fa fa-search-plus"></i> 瀏覽商品</a>
									<img th:src="@{${product.img}}" alt=""/>
						        </div>
						        <div class="product-body">
						            <h3 class="product-price" th:text="${'$' + (product.promotion_price)}">$0 </h3>
						            <del class="product-old-price" style="font-size:16px" th:text="${product.price}">$0</del>
									<div class="product-rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<!-- i class="fa fa-star-o empty"></i-->
									</div>
									<h2 class="product-name"><a th:href="@{'/products/' + ${product.id}}" th:text="${#strings.abbreviate(product.name, 20)}">Product Name Goes Here</a></h2>
									<!-- div class="product-btns">
										<button class="main-btn icon-btn" th:onclick="'index.addWish(\'' + ${product.id} + '\');'"><i class="fa fa-heart-o"></i></button>
										<button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
										<button class="primary-btn add-to-cart" th:onclick="'index.addCart(\'' + ${product.id} + '\');'"><i class="fa fa-shopping-cart"></i>加入購物車</button>
									</div -->
						        </div>
						    </div>
						</div>
					</div>
				</div>
				<!-- /Product Slick -->
			</div>
			<!-- /row -->

			<!-- row -->
			<div class="row">
				<!-- section title -->
				<div class="col-md-12">
					<div class="section-title">
						<h2 class="title">熱門商品</h2>
						<div class="pull-right">
							<div class="product-slick-dots-2 custom-dots">
							</div>
						</div>
					</div>
				</div>
				<!-- section title -->

				<!-- Product Single -->
				<div class="col-md-3 col-sm-6 col-xs-6" th:each="product, itrStat: ${promotion_product_one}">
					<div class="product product-single product-hot" th:if="${itrStat.index == 0}">
						<div class="product-thumb">
							<div class="product-label">
							    <span th:if="${product.newest == 1}">新上市</span>
								<span th:if="${product.promotion_on == 1 and product.promotion_discount != 100}" th:text="${(100 - product.promotion_discount) + '%'}" class="sale">0%</span>
							</div>
							
                            <ul class="product-countdown" th:attr="data-countdown=${product.promotion_end_str}">
                                <li><span class="days">00 天</span></li>
								<li><span class="hours">00 H</span></li>
								<li><span class="minutes">00 M</span></li>
							    <li><span class="seconds">00 S</span></li>
							</ul>
							<a class="main-btn quick-view" th:href="@{'/products/' + ${product.id}}"><i class="fa fa-search-plus"></i> 瀏覽商品</a>
							<img th:src="@{${product.img}}" alt=""/>
						</div>
						<div class="product-body">
							<h3 class="product-price" th:text="${'$' + (product.price)}">$0 </h3>
						    <del class="product-old-price" style="font-size:16px" th:text="${product.originalPrice}">$0</del>
							<div class="product-rating">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-o empty"></i>
							</div>
							<h2 class="product-name"><a th:href="@{'/products/' + ${product.id}}" th:text="${#strings.abbreviate(product.name, 20)}">Product Name Goes Here</a></h2>
							<!-- div class="product-btns">
								<button class="main-btn icon-btn" th:onclick="'index.addWish(\'' + ${product.id} + '\');'"><i class="fa fa-heart-o"></i></button>
								<button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
								<button class="primary-btn add-to-cart" th:onclick="'index.addCart(\'' + ${product.id} + '\');'"><i class="fa fa-shopping-cart"></i>加入購物車</button>
							</div-->
						</div>
					</div>
				</div>
				<!-- /Product Single -->

				<!-- Product Slick -->
				<div class="col-md-9 col-sm-6 col-xs-6" th:if="${#lists.size(promotion_product_one) != 0}">				
					<div class="row">
						<div id="product-slick-2" class="product-slick">
							<!-- Product Single -->
							<div class="product product-single" th:each="product, itrStat: ${suggest_product}">
								<div class="product-thumb">
								    <div class="product-label">
										<span th:if="${product.newest == 1}">新上市</span>
										<span th:if="${product.promotion_on == 0 and product.discount != 100}" th:text="${(100 - product.discount) + '%'}" class="sale">0%</span>
									</div>
									<a class="main-btn quick-view" th:href="@{'/products/' + ${product.id}}"><i class="fa fa-search-plus"></i> 瀏覽商品</a>
									<img th:src="@{${product.img}}" alt=""/>
								</div>
								<div class="product-body">
									<h3 class="product-price" th:text="${'$' + (product.price)}">$0 </h3>
						            <del class="product-old-price" style="font-size:16px" th:text="${product.originalPrice}">$0</del>
						            <div class="product-rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-o empty"></i>
									</div>
									<h2 class="product-name"><a th:href="@{'/products/' + ${product.id}}" th:text="${#strings.abbreviate(product.name, 20)}">商品名稱</a></h2>
									<!-- >div class="product-btns">
										<button class="main-btn icon-btn" th:onclick="'index.addWish(\'' + ${product.id} + '\');'"><i class="fa fa-heart-o"></i></button>
										<button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
										<button class="primary-btn add-to-cart" th:onclick="'index.addCart(\'' + ${product.id} + '\');'"><i class="fa fa-shopping-cart"></i>加入購物車</button>
									</div -->
								</div>
							</div>
							<!-- /Product Single -->
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-6 col-xs-6" th:unless="${#lists.size(promotion_product_one) != 0}">
					<div class="row">
						<div id="product-slick-2" class="product-slick">
							<!-- Product Single -->
							<div class="product product-single" th:each="product, itrStat: ${suggest_product}">
								<div class="product-thumb">
								    <div class="product-label">
										<span th:if="${product.newest == 1}">新上市</span>
										<span th:if="${product.promotion_on == 0 and product.discount != 100}" th:text="${(100 - product.discount) + '%'}" class="sale">0%</span>
									</div>
									<a class="main-btn quick-view" th:href="@{'/products/' + ${product.id}}"><i class="fa fa-search-plus"></i> 瀏覽商品</a>
									<img th:src="@{${product.img}}" alt=""/>
								</div>
								<div class="product-body">
									<h3 class="product-price" th:text="${'$' + (product.price)}">$0 </h3>
						            <del class="product-old-price" style="font-size:16px" th:text="${product.originalPrice}">$0</del>
						            <div class="product-rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-o empty"></i>
									</div>
									<h2 class="product-name"><a th:href="@{'/products/' + ${product.id}}" th:text="${#strings.abbreviate(product.name, 20)}">商品名稱</a></h2>
									<!-- >div class="product-btns">
										<button class="main-btn icon-btn" th:onclick="'index.addWish(\'' + ${product.id} + '\');'"><i class="fa fa-heart-o"></i></button>
										<button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
										<button class="primary-btn add-to-cart" th:onclick="'index.addCart(\'' + ${product.id} + '\');'"><i class="fa fa-shopping-cart"></i>加入購物車</button>
									</div -->
								</div>
							</div>
							<!-- /Product Single -->
						</div>
					</div>
				</div>
				<!-- /Product Slick -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

	<!-- section -->
	<div class="section section-grey">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- banner -->
				<div class="col-md-12">
					<div class="banner banner-1">
						<img th:src="@{/common/image/用途說明/DIY建築圖.jpg}" alt="用途說明" usemap="#logos" width="3000px" height="2120px"/>
						<!-- div class="banner-caption text-center">
							<h1 class="primary-color">HOT DEAL<br/><span class="white-color font-weak">Up to 50% OFF</span></h1>
							<button class="primary-btn">Shop Now</button>
						</div-->
						<map name="logos" id="logos">
                            <area data-product="1"  shape="rect" coords="430,400,700,700" th:href="@{/products/search(tagId=1)}" title="防水密封塗料" alt="防水密封塗料" />
                            <area data-product="11" shape="rect" coords="340,970,600,1280" th:href="@{/products/search(tagId=2)}" title="甲板密封塗料" alt="甲板密封塗料" />
                            <area data-product="7" shape="rect" coords="430,1550,695,1860" th:href="@{/products/search(tagId=3)}" title="RV車頂密封塗料" alt="RV車頂密封塗料" />
                            <area data-product="14" shape="rect" coords="2310,410,2580,710" th:href="@{/products/search(tagId=4)}" title="金屬安全密封塗料" alt="金屬安全密封塗料" />
                            <area data-product="4" shape="rect" coords="2360,950,2635,1260" th:href="@{/products/search(tagId=5)}" title="彩色防水密封塗料" alt="彩色防水密封塗料" />
                            <area data-product="12" shape="rect" coords="2280,1630,2540,1940" th:href="@{/products/search(tagId=6)}" title="基礎密封塗料" alt="基礎密封塗料" />
                            
                            <!-- area shape="default" nohref="nohref" title="Default" alt="Default"/-->
                        </map>
					</div>
				</div>
				<!-- /banner -->

				
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			
			<!-- row -->
			<div class="row">
				<!-- Product Single -->
				<div class="col-md-3 col-sm-6 col-xs-6" th:each="product, itrStat: ${newest_product}">
				    <div class="product product-single" th:if="${itrStat.index == 4 or itrStat.index == 5 or itrStat.index == 6}">
						<div class="product-thumb">
							<div class="product-label">
								<span th:if="${product.newest == 1}">新上市</span>
								<span th:if="${product.promotion_on == 1 and product.promotion_discount != 100}" th:text="${(100 - product.promotion_discount) + '%'}" class="sale">0%</span>
							</div>
							<a class="main-btn quick-view" th:href="@{'/products/' + ${product.id}}"><i class="fa fa-search-plus"></i> 瀏覽商品</a>
							<img th:src="@{${product.img}}" alt=""/>
						</div>
						<div class="product-body">
							<h3 class="product-price"  th:text="${'$' + (product.price)}">$0</h3>
							<del class="product-old-price" style="font-size:16px" th:text="${product.originalPrice}">$0</del>
							<div class="product-rating">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-o empty"></i>
							</div>
							<h2 class="product-name"><a th:href="@{'/products/' + ${product.id}}" th:text="${#strings.abbreviate(product.name, 20)}">Product Name Goes Here</a></h2>
							<!-- >div class="product-btns">
								<button class="main-btn icon-btn" th:onclick="'index.addWish(\'' + ${product.id} + '\');'"><i class="fa fa-heart-o"></i></button>
								<button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
								<button class="primary-btn add-to-cart" th:onclick="'index.addCart(\'' + ${product.id} + '\');'"><i class="fa fa-shopping-cart"></i> 加入購物車</button>
							</div -->
						</div>
					</div>
				</div>
			</div>
			<!-- /row -->

			<!-- row -->
			<div class="row">
				<!-- section title -->
				<div class="col-md-12">
					<div class="section-title">
						<h2 class="title">建議購買清單</h2>
					</div>
				</div>
				<!-- section title -->

                <!-- Product Single -->
				<div class="col-md-3 col-sm-6 col-xs-6" style="min-height: 480px; padding-bottom: 10px;" th:each="product, itrStat: ${recommended_product}">
					<div class="product product-single">
						<div class="product-thumb">
							<div class="product-label">
								<span th:if="${product.newest == 1}">新上市</span>
								<span th:if="${product.promotion_on == 0 and product.discount != 100}" th:text="${(100 - product.discount) + '%'}" class="sale">0%</span>
							</div>
							<a class="main-btn quick-view" th:href="@{'/products/' + ${product.id}}"><i class="fa fa-search-plus"></i> 瀏覽商品</a>
							<img th:src="@{${product.img}}" alt=""/>
						</div>
						<div class="product-body">
							<h3 class="product-price"  th:text="${'$' + (product.price)}">$0</h3>
							<del class="product-old-price" style="font-size:16px" th:text="${product.originalPrice}">$0</del>
							<div class="product-rating">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-o empty"></i>
							</div>
							<h2 class="product-name"><a th:href="@{'/products/' + ${product.id}}" th:text="${#strings.abbreviate(product.name, 18)}">商品名稱</a></h2>
							<!-- >div class="product-btns">
								<button class="main-btn icon-btn" th:onclick="'index.addWish(\'' + ${product.id} + '\');'"><i class="fa fa-heart-o"></i></button>
								<button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
								<button class="primary-btn add-to-cart" th:onclick="'index.addCart(\'' + ${product.id} + '\');'"><i class="fa fa-shopping-cart"></i> 加入購物車</button>
							</div -->
						</div>
					</div>
				</div>
				<!-- /Product Single -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->
    <!-- Button trigger modal -->
<!-- button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCartModalCenter">
  Launch demo modal
</button -->

    <div th:replace="fragments/modal :: addCart"></div>
    <div th:replace="fragments/modal :: removeCart"></div>
	<div th:replace="fragments/body_footer :: body_footer"></div>
    <div th:replace="fragments/body_resources :: body_resources"></div>
	
	<script th:src="@{/js/index.js}"></script>
	<!-- script th:src="@{/js/imageMapResizer.min.js}"></script-->
	<script th:src="@{/js/jquery.mapify.js}"></script>
	
	<script>$("body").show();
	$(document).ready(function() {
	    //$('map').imageMapResize();
		
	});
	
	</script>
<script type="text/javascript">
$(function(){
	$("img[usemap]:last").mapify({
	/*	
	
		popOver: {
			content: function(zone){
				if (zone.attr("data-product") == 1) {
					return "<strong>"+zone.attr("data-title")+"</strong>" + '<img class="img-circle img-responsive" src="/img/product/1.防水密封膠塗料Liquid_Rubber_Waterproof_Sealant_3.78L-1加侖1000.jpg" alt="loading"/>';
				} else if (zone.attr("data-product") == 11) {
					return "<strong>"+zone.attr("data-title")+"</strong>" + '<img class="img-circle img-responsive" src="/img/product/5.聚氨酯甲板塗料Polyurethane Deck Coating-3.78L-1加侖1000.jpg" alt="loading"/>';				
				} else if (zone.attr("data-product") == 7) {
					return "<strong>"+zone.attr("data-title")+"</strong>" + '<img class="img-circle img-responsive" src="/img/product/3.RV屋頂塗料RV Roof Coating-3.78L-1加侖1000.jpg" alt="loading"/>';
				} else if (zone.attr("data-product") == 14) {
					return "<strong>"+zone.attr("data-title")+"</strong>" + '<img class="img-circle img-responsive" src="/img/product/7.金屬安全密封膠MetalSafe Sealant-3.78L-1加侖1000.jpg" alt="loading"/>';
				} else if (zone.attr("data-product") == 4) {
					return "<strong>"+zone.attr("data-title")+"</strong>" + '<img class="img-circle img-responsive" src="/img/product/2.彩色防水密封膠.塗料Colour Waterproof Sealant-  Coating_3.78L-1加侖1000.jpg" alt="loading"/>';
				} else if (zone.attr("data-product") == 12) {
					return "<strong>"+zone.attr("data-title")+"</strong>" + '<img class="img-circle img-responsive" src="/img/product/6.基礎密封膠.地下室塗料Foundation Sealant-Basement Coating_3.78L-1加侖1000.jpg" alt="loading"/>';
				} else {
					return "<strong>"+zone.attr("data-title")+"</strong>" + '<img class="img-circle img-responsive" src="/img/product/1.防水密封膠塗料Liquid_Rubber_Waterproof_Sealant_3.78L-1加侖1000.jpg" alt="loading"/>';
				}
				
			},
			delay: 0.7,
			margin: "15px",
			height: "260px",
			width: "260px"
		},*/
		onAreaHighlight: function(){
			console.log("onAreaHighlight callback");
		},
		onMapClear: function(){
			console.log("onMapClear callback");
		}
	});
	
	$("#dynamicClassChange").click(function() {
		$(this).attr("data-hover-class","hover-green");
	});
	
	$("#showimg").hover(function(){
	    $(this).html('<img src="/common/image/用途說明/DIY建築圖.jpg" alt="loading"/>');  
    });

});
$(window).load(function(){
	var $win = $(window),
		$ad = $('#top').css('opacity', 0).show(),	// 讓廣告區塊變透明且顯示出來
		_width = $ad.width(),
		_height = $ad.height(),
		_diffY = 20, _diffX = 20,	// 距離右及下方邊距
		_moveSpeed = 500;	// 移動的速度
 //alert($(document).height()/2);
	// 先把 #abgne_float_ad 移動到定點
	$ad.css({
		top: 1000,
		left: $win.width() - _width - _diffX,
		opacity: 1
	});
 
	// 幫網頁加上 scroll 及 resize 事件
	$win.bind('scroll resize', function(){
		var $this = $(this);
 
		// 控制 #abgne_float_ad 的移動
		$ad.stop().animate({
			top: $this.scrollTop() + ($this.height()/2) - _height - _diffY,
			left: $this.scrollLeft() + $this.width() - _width - _diffX
		}, _moveSpeed);
	}).scroll();	// 觸發一次 scroll()
});
</script>
</body>

</html>
